html {
    font-family: serif, 'Times New Roman', 'SimSun';
}

body {
    padding-left: 15%;
    padding-right: 15%;
}

.header-table {
    text-align: center;
    vertical-align: middle;
}

.header-table td:last-child {
    width: 100%;
}

.conference {
    width: 120px;
}

.publication td {
    vertical-align: top;
    padding: 10px;
}

.header-row {
    height: 250px;
}

.photo-cell {
    width: 300px;
    height: 250px;
    min-width: 300px;
    min-height: 250px;
    font-size: smaller;
}

.photo {
    width: 300px;
    height: 250px;
}

.normal {
    font-weight: normal;
}

.url {
    font-family: monospace;
}

/* Adapted from https://codepen.io/nzbin/pen/GGrXbp */

.dot-flashing {
    position: relative;
    left: 15px;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background-color: #9b9b9b;
    color: #9b9b9b;
    animation: dotFlashing 1s infinite linear alternate;
    animation-delay: .5s;
}

.dot-flashing::before, .dot-flashing::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
}

.dot-flashing::before {
    left: -15px;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background-color: #9b9b9b;
    color: #9b9b9b;
    animation: dotFlashing 1s infinite alternate;
    animation-delay: 0s;
}

.dot-flashing::after {
    left: 15px;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background-color: #9b9b9b;
    color: #9b9b9b;
    animation: dotFlashing 1s infinite alternate;
    animation-delay: 1s;
}

@keyframes dotFlashing {
    0% {
        background-color: #9b9b9b;
    }
    50%,
    100% {
        background-color: #eeeeee;
    }
}

/* end */

.zh-cn-calendar {
    margin-left: 1em;
    border-left: solid lightgray 3px;
    padding-left: 2em;
    color: gray;
    font-size: smaller;
}

.footer {
    border-top: 1px solid black;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-top: 2px;
    font-size: smaller;
}
