html {
    font-family: serif, 'Times New Roman', 'SimSun';
}

body {
    padding-left: 15%;
    padding-right: 15%;
}

.header-table {
    text-align: center;
    vertical-align: middle;
}

.header-table td {
    padding: 20px;
}

.header-table td:last-child {
    width: 100%;
}

.header-row {
    height: 200px;
}

.photo-cell {
    width: 240px;
    height: 200px;
    min-width: 240px;
    min-height: 200px;
    border: 1px solid black;
    font-size: smaller;
}

.normal {
    font-weight: normal;
}

.url {
    font-family: monospace;
}

.footer {
    border-top: 1px solid black;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-top: 2px;
    font-size: smaller;
}
