body {
	font-size: 1rem;
}

@media (max-width: 12cm) {
	.moments-main-div {
		margin: 25px auto;
	}
}

@media (min-width: 12cm) {
	.moments-main-div {
		margin: 0 auto;
		width: 600px;
	}
}

.moments-div {
	margin-block-start: 0px;
	margin-bottom: 8px;
	margin-top: 8px;
}

.moments-head {
	color: gray;
	margin-bottom: 8px;
	margin-top: 30px;
}
