body {
	padding-bottom: 20px;
	font-size: 1rem;
}

@media (max-width: 12cm) {
	.moments-main-div {
		margin: 25px auto;
	}
}

@media (min-width: 12cm) {
	.moments-main-div {
		margin: 0 auto;
		width: 600px;
	}
}

p {
	margin-bottom: 8px;
	margin-top: 8px;
	text-align: justify;
}

.moments-div {
	margin-block-start: 0px;
	margin-bottom: 8px;
	margin-top: 8px;
	text-indent: 2rem;
}

.moments-head {
	color: gray;
	margin-bottom: 16px;
	margin-top: 32px;
	text-indent: 0rem;
}

.comment-area {
	color: gray;
	font-size: 0.75rem;
}

[id ^= "comment-panel-"] {
	margin-bottom: 8px;
}
